<%- include("./partials/header")%>
      <div class = "container">
      <div class="jumbotron">
        <h1 class="display-4">HI THERE!</h1>
        <p class="lead">This is a simple movie search application, where users can search for their favourite movie and all their thoughts on it..</p>
        <hr class="my-4">
        <p>Created By J.Sunny</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
<%- include("./partials/footer")%>

   
  